[package]
name = "rwm"
version = "0.1.0"
edition = "2021"

[workspace]
members = ["blocks"]

[dependencies]
x11 = { version = "2.21.0", features = ["xlib", "xft", "xinerama"] }
libc = "0.2.159"
yeslogic-fontconfig-sys = "6.0.0"
env_logger = "0.11.3"
log = "0.4.21"