name: CI

permissions:
  contents: read

on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  required:
    runs-on: ${{ matrix.os }}
    name: test / ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        include:
          - os: macos-latest
            is_mac: 1
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true
          persist-credentials: false

      - name: Install X libraries (ubuntu)
        if: ${{ ! matrix.is_mac }}
        run: |
          sudo apt-get update
          sudo apt-get install libxft-dev libxinerama-dev xserver-xephyr libxcb1-dev lua5.4 liblua5.4-dev

      - name: Install X libraries (mac)
        if: ${{ matrix.is_mac }}
        run: |
          brew install libxft libxinerama lua
          brew install --cask xquartz
          echo "PATH=$PATH:/opt/X11/bin" >> $GITHUB_ENV

      - name: cargo generate-lockfile
        if: hashFiles('Cargo.lock') == ''
        run: cargo generate-lockfile

      - name: cargo test --locked
        run: cargo test --locked --all-features --lib --bins --tests --examples -- --test-threads=1

  cargo-fmt:
    name: "cargo fmt"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true
          persist-credentials: false

      - name: install rustfmt
        run: rustup component add rustfmt
      - run: cargo fmt --check --all

  cargo-clippy:
    name: "cargo clippy"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true
          persist-credentials: false

      - name: Install X libraries
        run: |
          sudo apt-get update
          sudo apt-get install libxft-dev libxinerama-dev lua5.4 liblua5.4-dev

      - name: install clippy
        run: rustup component add clippy

      - name: cargo clippy
        run: cargo clippy --workspace --all-targets --all-features --locked -- -D warnings
  doc:
    runs-on: ubuntu-latest
    name: doc
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true
          persist-credentials: false

      - name: Install X libraries
        run: |
          sudo apt-get update
          sudo apt-get install libxft-dev libxinerama-dev lua5.4 liblua5.4-dev

      - name: cargo doc
        run: cargo doc --no-deps --all-features
        env:
          RUSTDOCFLAGS: --cfg docsrs
